<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <script>
        function validateForm() {
            var name = document.forms["registrationForm"]["name"].value;
            var email = document.forms["registrationForm"]["email"].value;
            var password = document.forms["registrationForm"]["password"].value;

            if (name == "" || email == "" || password == "") {
                alert("All fields are required");
                return false;
            }

            var emailRegex = /\S+@\S+\.\S+/;
            if (!emailRegex.test(email)) {
                alert("Please enter a valid email address");
                return false;
            }
            console.log("password ==== ",password)
            if (password.length < 8 ) {
                alert("password shold be greter then 8 characters");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <h2>User Registration</h2>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
    <form name="registrationForm" action="{% url 'register' %}" onsubmit="return validateForm()" method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
